*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.45)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.navbar
{
    display: flex;
    justify-content:space-between;
    padding: 20px 30px;
    position: fixed;
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.45));
    top:0;
    left: 0;
    right: 0;
    z-index: 99;
}


#logo{
    height: 45px;
    width:  45px;
    border-radius: 10px;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
   
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #B82738;
    display:block ;
    margin: auto;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 80%;
}

.mobile-btn{
    color: #fff;
    width: 20px;
    height: 20px;
}

/*****************mobile menu*/
nav .fas ,nav .fab
{
    display: none;
}
    


.header-text{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    
}

.header-text h1{
    font-size: 3rem;
}

.header-text p{
    padding-bottom: 20px;
}

.header-text a{
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
}



.header-btn{
    border: 1px solid #B82738;
    border-radius: 6px;
    margin-top: 500px;
    padding: 10px 25px;
}

.header-btn:hover{
    background-color: #B82738;
}

@media(max-width:767px){
    .nav-link{
        position: fixed;
        top: 0;
        right:-200px;
        z-index: 2;
        background-color: #B82738;
        height: 100vh;
        width: 200px;
    }
    .nav-link ul li{
        display: block;
    }

    nav .fas ,nav .fab{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 1.25rem;
        
    }

    .header-text h1{
        font-size: 1.5rem;
    }
    .header-text p{
        font-size: 0.75rem;
    }
}

/*Messages */
.messages{
    width: 80%;
    margin: auto;
    padding-top: 80px;
}

.messages a{
    color: #B82738;
    text-decoration: none;

}

.messages h2{
    color: #B82738;
    padding-top: 10px;
}

.messages a:hover{
    color: #fff;
}



.section-header h1{
    font-size: 2rem;
    margin: 8px 0 20px;
    text-align: center;
}

.section-header p{
    color: #555;
    text-align: center;
}

.messages img{
    width:100%;
    border-radius: 8px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color: rgba(241, 214, 181,0.2);
    border-radius: 8px;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .row{
        flex-direction: column;
    }
}
.col-shadow
{
    transition: 1.2s;
}
.col-shadow:hover
{
 box-shadow: 0 0 24px;
}

.message-colleft, .message-colright{
    margin:10px 40px 10px 10px;
    
}

.message-colright p{
    padding: 20px 0 50px;
}

.messages a{
    margin-bottom: 20px;
}

/*programmes*/
.programmes{
    width: 100%;
    padding: 0 30px 0;
    padding-top: 80px;
    overflow: hidden;
}

.programme-col{
    flex-basis: 30%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    position: relative;
}

.programme-col img{
    width: 100%;
    border-radius: 12px;
  
}

.layer{
    position: absolute;
    top:0;
    left: 0;
    background: transparent;
    height: 100%;
    width: 100%;
    color: #fff;
    opacity: 0;
    transition: 0.6s;
    border-radius: 12px;
}

.layer:hover{
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.layer h3 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
}

.layer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.VoD{
    width: 80%;
    margin: auto;
    padding-top: 80px;
}

#dailyVersesWrapper{
    text-align: center;
}

/*--------footer------*/
.footer{
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.45));
    margin-top: 50px;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}



.row-footer{
    display: flex;
    justify-content:center;
    gap: 15px;
}


.footer a{
    color: #fff;
    text-decoration: none;
    padding-bottom: 15px;
}

.footer a::after{
    content: '';
    width: 100%;
    height: 2px;
    color: #fff;
    display: block;
    background-color: #fff;
}

.footer a:hover::after
{
    background-color: #B82738;
}



/*ABOUT SECTION */
.about-header{
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.45)),url(images/background.jpg);
    background-size: cover;
    position: relative;

    
}

.subpage-container{
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.45));
    height: fit-content;
    
}

.about-content{
    width:80%;
    margin: auto;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-basis: 48%;
    align-items: center;
    overflow: hidden;
    
}

@media (max-width: 767px) {
    .about-content{
        flex-direction: column;
    }
}

.about-content img{
    width: 40%;
    border-radius: 15px;
}

@media (max-width: 767px) {
    .about-content img{
        width: 80%;
    }
}

.about-content h2{
    font-size: 3.5rem;
    padding-bottom: 25px;
}

.about-content h4{
    font-size: 2.5rem;
    padding-bottom: 25px;
    padding-top: 15px;
}

.about-content p{
    padding-bottom: 50px;
    padding-left: 10px;
}

.pastor-content{
    padding: 8px;
    align-items: center;
    text-align: center;
    color: #f1f1f1;
}

.pastor-content img{
    border-radius: 15px;
    width: 80%;
}

.pastor-content p ,h4{
    padding-bottom: 20px;
}

/*------Contact Page-----*/
iframe{
    width: 100%;
    
}

a{
    text-decoration: none;
    color: #fff;
}